.nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.back {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 20px;
  background: gainsboro;

  span {
    font-size: 16px;
  }
}

.back-arrow-left {
  padding: 10px;
  cursor: pointer;
}