.left-container {
  position: fixed;
  width: 32%;
  height: calc(100vh - 150px);
  top: 100px;
  left: 2.5%;
  overflow: scroll;
  border: 1px solid rgba(216, 216, 216, .6);

  :global {
    .ant-tabs-nav {
      position: fixed;
      width: 32%;
      left: 2.5%;
      background-color: #fff;
      z-index: 10;
      border-right: 1px solid rgba(216, 216, 216, .6);
      border-left: 1px solid rgba(216, 216, 216, .6);
      border-bottom: 1px solid rgba(216, 216, 216, .6);

      >div {
        display: flex;
        justify-content: space-around;
      }

      .ant-tabs-ink-bar {
        bottom: -1px;
      }
    }

    .ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-nav .ant-tabs-tab {
      margin: 0;
      width: 33.3%;
      text-align: center;
    }
  }
}

.right-container {
  position: fixed;
  width: 60%;
  height: calc(100vh-150px);
  top: 100px;
  right: 2.5%;
  padding: 15px 20px;
  border: 1px solid rgba(216, 216, 216, .6);
  background-color: #f0f0f0;
  overflow: scroll;

  .time {
    font-size: 12px;
    color: #7f7f7f;
    text-align: center;
  }

  .empty {
    display: flex;
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .message {
    display: flex;
    margin-bottom: 20px;

    >p {
      max-width: 50%;
      margin: 0 15px;
      background-color: #fff;
      border-radius: 5px;
      padding: 10px;
      color: #1d1818;
      word-break: break-all;
    }
  }

  :global {
    .ant-spin {
      margin: 0 auto 20px auto;
      display: block;
    }
  }
}

.flex-reverse {
  flex-flow: row-reverse;
}

.outer-tabs {
  padding-top: 45px !important;

  :global {
    .ant-avatar {
      margin: 0 10px;
    }

    .ant-tabs-top-bar {
      position: absolute;
      width: 100%;
      top: 0;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(216, 216, 216, .6);
    }

    .ant-tabs-tabpane {
      margin: 0;

      p {
        padding: 0 10px;
        margin: 0;
        height: 55px;
        line-height: 55px;
        border-bottom: 1px solid rgba(216, 216, 216, .6);
        cursor: pointer;

        >span {
          margin-left: 10px;
        }
      }
    }
  }
}